

.App {
  text-align: center;
}
body {
  background-color: orangered;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container-main {
  box-shadow: 1px 1px 2px 2px;
}

.title{
  text-transform: capitalize;
  color: white;
  font-family: 'Nunito';
  font-size: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  border: solid orange;
}

.bord{

  border: solid orange;
  border-radius: 1%;
  background-color: white;
  color: black;
}